<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>내 손 안의 실감 라이브러리</title>

    <!-- three.js -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script src="https://unpkg.com/three@0.126.0/build/three.js"></script>
</head>
<body>
    <select name="model_select" id="model_select" onchange="select_model(this);">
        {% for model in list %}
            <option value="{{model}}"> {{model}} </option>
        {% endfor %}
    </select>
    
    <model-viewer id="model_viewer"
                  src="/media/models/Ankylosaurus/scene.gltf"
                  ios-src="/media/models/Ankylosaurus/Ankylosaurus.usdz"
                  alt="A 3D model of an astronaut" 
                  ar 
                  ar-modes="webxr scene-viewer quick-look"
                  quick-look-browsers="safari chrome"
                  camera-controls
                  style="width:90vw; height:50vh; margin:5vw;"></model-viewer>
    
    <div style="overflow-x: scroll; overflow-y: hidden; white-space:nowrap;">
        {% for model in list %}
        <div style="display:inline-block; width:100px; height:100px; border:1px solid black; word-wrap: break-word;" onclick="select_model2(this);">
                {{model}}
        </div>
        {% endfor %}
    </div>
    
    <script>
        function checkFileExist(urlToFile) {
            var xhr = new XMLHttpRequest();
            xhr.open('HEAD', urlToFile, false);
            xhr.send();

            if (xhr.status == "404") {
                return false;
            } else {
                return true;
            }
        }
        var select_model = function (select_obj){
            // 우선 selectbox에서 선택된 index를 찾고 
            var selected_index = select_obj.selectedIndex;
            // 선택된 index의 value를 찾고 
            var selected_value = select_obj.options[selected_index].value;
            // 원하는 동작을 수행한다. 
            src = '/media/models/'+selected_value+'/scene.gltf';
            if(!checkFileExist(src)) src = '/media/models/'+selected_value+'/scene.glb'
            document.getElementById('model_viewer').src = src;
            document.getElementById('model_viewer').iosSrc = '/media/models/'+selected_value+'/'+selected_value+'.usdz';
        };
        var select_model2 = function (select_obj){
            var selected_value = select_obj.innerText;
            // 원하는 동작을 수행
            src = '/media/models/'+selected_value+'/scene.gltf';
            if(!checkFileExist(src)) src = '/media/models/'+selected_value+'/scene.glb'
            document.getElementById('model_viewer').src = src;
            document.getElementById('model_viewer').iosSrc = '/media/models/'+selected_value+'/'+selected_value+'.usdz';
        };
    </script>
</body>
</html>