<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>내 손 안의 실감 라이브러리</title>

    <!-- three.js -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script src="https://unpkg.com/three@0.126.0/build/three.js"></script>
    <style>
        body::-webkit-scrollbar {
            display: none;
        }
        #model_viewer{
            width:90vw;
            height:60vh;
            margin:5vw;
            position:fixed;
            border:1px solid black;
        }
        #footer{
            position:absolute;
            bottom:0;
            white-space:nowrap;
        }
    </style>
</head>
<body>
    <div>

    </div>

    <model-viewer id="model_viewer"
                  src="/media/models/Ankylosaurus/scene.gltf"
                  ios-src="/media/models/Ankylosaurus/Ankylosaurus.usdz"
                  alt="A 3D model"
                  ar
                  ar-modes="webxr scene-viewer quick-look"
                  quick-look-browsers="safari chrome"
                  camera-controls></model-viewer>

    <div id="footer">
        {% for model in list %}
        <div style="display:inline-block; width:20vh; height:20vh; border:1px solid black; word-wrap: break-word;" onclick="select_model2(this);">
            <img src="/media/models/Thumbnail.png" style="overflow: hidden; display: flex; align-items: center; justify-content: center; width:20vh; height:20vh">
            {{model}}
        </div>
        {% endfor %}
    </div>

    <script>
        function checkFileExist(urlToFile) {
            var xhr = new XMLHttpRequest();
            xhr.open('HEAD', urlToFile, false);
            xhr.send();

            if (xhr.status == "404") {
                return false;
            } else {
                return true;
            }
        }
        var select_model = function (select_obj){
            // 우선 selectbox에서 선택된 index를 찾고
            var selected_index = select_obj.selectedIndex;
            // 선택된 index의 value를 찾고
            var selected_value = select_obj.options[selected_index].value;
            // 원하는 동작을 수행한다.
            src = '/media/models/'+selected_value+'/scene.gltf';
            if(!checkFileExist(src)) src = '/media/models/'+selected_value+'/scene.glb'
            document.getElementById('model_viewer').src = src;
            document.getElementById('model_viewer').iosSrc = '/media/models/'+selected_value+'/'+selected_value+'.usdz';
        };
        var select_model2 = function (select_obj){
            var selected_value = select_obj.innerText;
            // 원하는 동작을 수행
            src = '/media/models/'+selected_value+'/scene.gltf';
            if(!checkFileExist(src)) src = '/media/models/'+selected_value+'/scene.glb'
            document.getElementById('model_viewer').src = src;
            document.getElementById('model_viewer').iosSrc = '/media/models/'+selected_value+'/'+selected_value+'.usdz';
        };
    </script>
</body>
</html>